// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// colors
@main_font: #9cb2bc;
@background : black;
@accent:#f90;

/* mixins*/

.center{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;

}

.darken{                
	background-color: darken(@accent,15%);
}
/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
    font-size: 40%;

    h1 {
        font-size: 5em;
    }

    h2 {
        font-size: 4em;
    }

    p {
        font-size: 3em;
    }

    .container {
        width: 100%;
        background: @background;
        color: @main_font;
        padding: 10em;

	
        a,
        p {
            color: @main_font;
        }

        nav.top-nav {
            display: flex;
            justify-content: flex-end;
			

            a {
                color: @main_font;
                text-decoration: none;
				margin-right: 10em;
				width: 50px;
				height: 50px;
				
			}
			a:hover{
				border-bottom: 2px solid @accent;

			}
        }

		@media (max-width:500px){

			nav.top-nav{
				font-size: 70%;
				justify-content: center;
				a{
					widows: 50px;
					height: 50px;
				}
			}

		}
        .featured {
           
            margin-bottom: 20em;

            &>* {
                padding: 1em 0;
            }

            img {
                margin-top: 5%;
                padding: 2%;
				width: 40%;
				max-width: 300px;
				min-width: 300px;
                border-radius: 50%;
			}
			
			p{
				width: 50%;

				@media (max-width:500px){
					width: 100%;
				}
			}

			
            button {
                font-size: 1em;
                background: @accent;
                padding: 1em;
				height: 40%;
				
				p{
					width: 100%;
					color: black;

				}

                /* border-radius: 20%; */
			}
			
			button:hover{
				.darken();
			}
        }

        .middle {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin-bottom: 10%;
            width: 100%;

            .listen-up {
                flex: 1;
                width: 40%;
                margin-right: 20%;

                h1 {
                    padding-bottom: 1em;
                }

                p {}
            }

            .expertise {
                flex: 1;
				line-height: 7em;
                width: 50%;

                h1 {
					margin-bottom: 3%;
                }

                ul {
					list-style-type: circle;

                    li {
                        padding-bottom: 0em;
						margin-bottom: 3em;

                    }
                }
            }
        }

        @media (max-width: 500px) {
            .middle {
                .center();
                margin-bottom: 10%;
                width: 100%;

                .listen-up {
                    width: 100%;

                    h1 {
                        padding-bottom: 2em;
                    }
                }

                .expertise {
                    width: 100%;
                    margin-top: 20%;
                }
            }

          
		
        }

        .bottom {
            margin-bottom: 20%;

            h1 {
                padding-bottom: 2em;
                margin-bottom: 2%;
            }

            ul {
                li {
                    padding-bottom: 1em;
                    margin-bottom: 3em;

                    p {}
                }
            }
        }

        .form {
            margin-bottom: 10%;
			max-width: 600px;
			min-width: 300px;
            width: 50%;

            p {
                font-size: 2em;
            }

            h1 {
                margin-bottom: 10%;
            }

            #form {
				margin: 0 0;
				height: 100%;
            }

           

            form {
                margin: 0 auto;
                width: 30%;
                padding-top: 40px;
                color: @main_font;
            }

           

            label,
            input,
            textarea {
                display: block;
            }

            input,
            textarea {
                width: 100%;
                border: none;
                border-radius: 20px;
                outline: none;
                padding: 10px;
                font-family: "Sniglet", cursive;
                font-size: 3em;
                color: #676767;
                transition: border 0.5s;
                -webkit-transition: border 0.5s;
                -moz-transition: border 0.5s;
                -o-transition: border 0.5s;
                border: solid 3px #98d4f3;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            input:focus,
            textarea:focus {
                border: solid 3px #77bde0;
            }

            textarea {
                height: 100%;
                resize: none;
                overflow: auto;
            }

            input[type="submit"] {
                background-color: @accent;
                color: @main_font;
                height: 50px;
                cursor: pointer;
                margin-top: 30px;
                font-size: 1.29em;
                font-family: "Sniglet", cursive;
                -webkit-transition: background-color 0.5s;
                -moz-transition: background-color 0.5s;
                -o-transition: background-color 0.5s;
                transition: background-color 0.5s;
            }

            input[type="submit"]:hover {
			
                .darken();
            }

            label {
                font-size: 1.5em;
                margin-top: 20px;
                padding-left: 2%;
            }

            .formgroup,
            .formgroup-active,
            .formgroup-error {
                background-repeat: no-repeat;
                background-position: right bottom;
                background-size: 20.5%;
                transition: background-image 0.7s;
                -webkit-transition: background-image 0.7s;
                -moz-transition: background-image 0.7s;
                -o-transition: background-image 0.7s;
                width: 300%;
                padding-top: 2px;
            }

          
            .formgroup-error {
                color: red;
            }

            input {
                font-size: 3em;

                &[value],
                textarea {
                    font-size: 3em;
                }
            }
        }
		@media (max-width: 500px) {
			div.form {
				width: 100%;
			}
			
			#waterform {
				margin: 0 10%;
			}
			
			input[type="submit"]{
				
				margin: 0;
				width: 300%;	
			}

		}
        footer {
            color: @main_font;

            p {
                text-align: center;
            }
        }
	}
	
	@media (max-width:500px){
			
		//.center();

	}
}