/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* mixins*/
.center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
.lighten {
  background-color: #e4a74c;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
  font-size: 40%;
  font-family: 'Baloo Bhai', cursive;
}
html h1 {
  font-size: 5em;
}
html h2 {
  font-size: 4em;
}
html p {
  font-size: 3em;
}
html .container {
  width: 100%;
  background: black;
  color: #9cb2bc;
  padding: 13em;
}
html .container p {
  color: #9cb2bc;
}
html .container nav.top-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 500px) {
  html .container nav.top-nav {
    font-size: 80%;
    justify-content: center;
  }
}
html .container nav.top-nav a {
  color: #9cb2bc;
  text-decoration: none;
  margin-right: 3em;
  height: 50px;
  align-self: flex-end;
}
@media (max-width: 500px) {
  html .container nav.top-nav a {
    min-width: 30px;
    min-height: 50px;
  }
}
html .container nav.top-nav p:hover {
  border-bottom: 2px solid #c5821e;
  justify-content: center;
}
@media (max-width: 50px) {
  html .container nav.top-nav p:hover {
    min-width: 50px;
    min-height: 50px;
  }
}
html .container .featured {
  margin-bottom: 20em;
}
html .container .featured > * {
  padding: 1em 0;
}
html .container .featured img {
  margin-top: 5%;
  padding: 2%;
  width: 40%;
  max-width: 300px;
  min-width: 300px;
  border-radius: 50%;
}
html .container .featured p {
  width: 50%;
}
@media (max-width: 500px) {
  html .container .featured p {
    width: 100%;
  }
}
html .container .featured button {
  font-size: 1em;
  background: #c5821e;
  padding: 1em;
  height: 40%;
  /* border-radius: 20%; */
}
html .container .featured button p {
  width: 100%;
  color: black;
}
html .container .featured button:hover {
  background-color: #e4a74c;
}
html .container .middle {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 10%;
  width: 100%;
}
html .container .middle .listen-up {
  flex: 1;
  width: 40%;
  margin-right: 20%;
}
html .container .middle .listen-up h1 {
  padding-bottom: 1em;
}
html .container .middle .expertise {
  flex: 1;
  line-height: 7em;
  width: 50%;
}
html .container .middle .expertise h1 {
  margin-bottom: 3%;
}
html .container .middle .expertise ul {
  list-style-type: circle;
}
html .container .middle .expertise ul li {
  padding-bottom: 0em;
  margin-bottom: 3em;
}
@media (max-width: 500px) {
  html .container .middle {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 10%;
    width: 100%;
  }
  html .container .middle .listen-up {
    width: 100%;
  }
  html .container .middle .listen-up h1 {
    padding-bottom: 2em;
  }
  html .container .middle .expertise {
    width: 100%;
    margin-top: 20%;
  }
}
html .container .bottom {
  margin-bottom: 20%;
}
html .container .bottom h1 {
  padding-bottom: 2em;
  margin-bottom: 2%;
}
html .container .bottom ul li {
  padding-bottom: 1em;
  margin-bottom: 3em;
}
html .container .form {
  margin-bottom: 30%;
  max-width: 600px;
  min-width: 300px;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
html .container .form p {
  font-size: 2em;
}
html .container .form h1 {
  margin-bottom: 10%;
}
html .container .form #form {
  margin: 0 0;
  height: 100%;
}
html .container .form form {
  margin: 0 0;
  width: 30%;
  padding-top: 40px;
  color: #9cb2bc;
}
html .container .form label,
html .container .form input,
html .container .form textarea {
  display: block;
}
html .container .form input,
html .container .form textarea {
  width: 100%;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: "Sniglet", cursive;
  font-size: 3em;
  color: #676767;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  border: solid 3px #98d4f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html .container .form input:focus,
html .container .form textarea:focus {
  border: solid 3px #77bde0;
}
html .container .form textarea {
  height: 100%;
  resize: none;
  overflow: auto;
}
html .container .form input[type="submit"] {
  background-color: #c5821e;
  color: #9cb2bc;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.29em;
  font-family: "Sniglet", cursive;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
html .container .form input[type="submit"]:hover {
  background-color: #e4a74c;
}
html .container .form label {
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 2%;
}
html .container .form .formgroup,
html .container .form .formgroup-active,
html .container .form .formgroup-error {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 20.5%;
  transition: background-image 0.7s;
  -webkit-transition: background-image 0.7s;
  -moz-transition: background-image 0.7s;
  -o-transition: background-image 0.7s;
  width: 300%;
  padding-top: 2px;
}
html .container .form .formgroup-error {
  color: red;
}
html .container .form input {
  font-size: 3em;
}
html .container .form input[value],
html .container .form input textarea {
  font-size: 3em;
}
@media (max-width: 500px) {
  html .container div.form {
    width: 100%;
  }
  html .container #waterform {
    margin: 0 10%;
  }
  html .container input[type="submit"] {
    margin: 0;
    width: 300%;
  }
}
html .container footer {
  color: #9cb2bc;
}
html .container footer p {
  text-align: center;
}
@media (max-width: 500px) {
}
