/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.45%;
}
html h1,
body h1 {
  font-size: 5em;
}
html h2,
body h2 {
  font-size: 4em;
}
html p,
body p {
  font-size: 3em;
}
html .container,
body .container {
  width: 100%;
  background: black;
  color: white;
  padding: 10em;
}
html .container a,
body .container a,
html .container p,
body .container p {
  color: white;
}
html .container nav.top-nav,
body .container nav.top-nav {
  display: flex;
  justify-content: flex-end;
  padding: 3em;
}
html .container nav.top-nav a,
body .container nav.top-nav a {
  color: black;
  text-decoration: none;
  margin-right: 3rem;
}
html .container .featured,
body .container .featured {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20em;
}
html .container .featured > *,
body .container .featured > * {
  padding: 1em 0;
}
html .container .featured img,
body .container .featured img {
  margin-top: 10%;
  padding: 2%;
  width: 20%;
  border-radius: 20%;
}
html .container .featured button,
body .container .featured button {
  font-size: 1em;
  background: #1ea1b8;
  padding: 1em;
  height: 40%;
  /* border-radius: 20%; */
}
html .container .middle,
body .container .middle {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}
html .container .middle .listen-up,
body .container .middle .listen-up {
  flex: 1;
}
html .container .middle .good-at,
body .container .middle .good-at {
  flex: 1;
  width: 40%;
}
html .container .bottom,
body .container .bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  flex: 1;
}
